.header {
    display: flex;
    padding: 92px 50px;
}

.header_menu {
    display: flex;
    margin-right: auto;
}

.header_links-list{
    display: flex;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 33px;
    padding: 43px 0 45px;
    list-style: none;
}

.header_link_active{
    text-decoration: none;
    justify-content: flex-start;
    
}

.header_link{
    text-decoration: underline;
    text-underline-offset: 5px;
  }
    
.header_links-list-item{
    list-style: circle;
}

.header_logo {
    display: block;
    padding: 0 355px 0 209px;
}

.header_logo-image {
    width: 148px;
    height: 105px;
}

